# токен от @BotFather
BOT_TOKEN=123456789:AA...ваш_токен...

# путь к файлу с данными (по желанию)
# DATA_FILE=call_bot_data.json

# сайт школы (по умолчанию уже СОШ №46: https://sosh46.ru/raspisanie/)
# SCHOOL_URL=https://sosh46.ru/raspisanie/
# SCHOOL_CLASS=8А
# проверка сайта с 8:00 каждые 2 часа по UTC+4 (до 22:00)
# SCHEDULE_PARSE_START_HOUR=8
# SCHEDULE_PARSE_EVERY_HOURS=2
# SCHEDULE_PARSE_END_HOUR=22
# час UTC+4, когда слать вечернее расписание на завтра
# SCHEDULE_DAILY_HOUR=18
# утреннее «сегодня» в 7:30 UTC+4
# SCHEDULE_MORNING_HOUR=7
# SCHEDULE_MORNING_MINUTE=30
# если у сайта школы старый сертификат:
# SCHOOL_INSECURE_SSL=1
